body{
		box-sizing: border-box;
		overflow-x:hidden ;
		background: url("../images/home/background-home-mobile.jpg");
		background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;
		height: 100vh;
	}	
*, html, *::before, *::after{
	box-sizing: border-box;
}
.parent{
	overflow-x: hidden;
width: inherit;
	height: inherit;
	padding-bottom: 5%;
padding-right: 5%;
		padding-left: 5%;
}
.hom{
	display: flex;
	gap: 10vw;
	align-items: center;
}

li{
	list-style: none;
}
header{
	display: flex;
	gap: 34vw;
position: fixed;
}
header ul label{
	color: white;
	font-weight: 300;
	line-height: 2rem;
}
header ul label:hover{
border-bottom: 2px solid white;
}
header ul label span{
display: none;
}

input{
	display: none;
}
a{
	text-decoration: none;
}

nav ul{
	margin-left: -31vw;
	display: none;
}
.crew{
margin-top: 33vh;
color: white;
display: none;
}
.technology{
margin-top: 33vh;
color: white;
display: none;
}
.destination{
	color: white;
margin-top: 33vh;
	padding-right: 1rem;

}
.toggle::before{
	content: "\2630";
	font-size: 1.4rem;
	font-weight: 800;
	color: lavender;
}
.toggle:hover, .menu ul label:hover{
cursor: pointer;
}
#check:checked ~ .toggle:before{
content: "\2715";
color: white;
background: red;
padding: 3px;
}
#check:checked ~ ul{
	display: block;
	/*animation-name:animate1;
	animation-duration: 1s;*/
	animation:animate1 1s forwards;

}
@keyframes animate1{
	0%{
		opacity: 0%;
		margin-top: -4rem;
	}
	
	100%{
		opacity: 100%;
		margin-top: 0rem;

	}

}
.home{
text-align: center;
padding-right: 1rem;
margin-top: 33vh;

}
.home p{
color: lavender;
opacity: 90%;
font-family: monospace;
font-size: 1rem;
}
 .home h2{
color: white;
font-size: 2rem;

 }
 .home div{
color: lavender;
opacity: 90%;

}
.home button{
margin-top: 15%;
height: 7rem;
width: 7rem;
border-radius: 3.5rem;
border: none;
background: lavender;
color: black;
font-weight: 500;
font-size: 1.1rem;
font-family: monospace;
}
.home button:hover{
background: red;
color: lavender;
}
.mapper figcaption{
	padding-right: 0.5rem;
	opacity: 70%;
}
.mapper p span{
margin-right: 1rem;
opacity: 70%;
}
.mapper p span:hover{
opacity: 100%;
border-bottom: 2px solid white;
padding-bottom: 0.3rem;
cursor: pointer;
}
.mapper h2{
	font-size: 1.5rem;
	font-weight: 400;
}

.distance label{
display: flex;
gap: 3rem;
font-size: 0.8rem;
opacity: 70%;
font-family: monospace;
}
.distance span{
display: flex;
gap:4rem;
font-size: 1.1rem;
}
.distance{
margin-top: 1rem;
}
.thin-line{
	margin-top: 2rem;
	height: 1px;
	width:38vw;
	background: #aaa;
}
.globe-container p{
font-family: monospace;
font-size: 1rem;

}
.globe-container p span{
opacity: 70%;
} 
/*#page2:checked ~ #destination{
	display: block;
}
#page2:checked ~ #home{
display: none;
}*/
.bod1{
	background: url("../images/home/background-home-mobile.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;
}
.bod2{
	background: url("../images/destination/background-destination-mobile.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.bod3{
	background: url("../images/crew/background-crew-mobile.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.bod4{
	background: url("../images/technology/background-technology-mobile.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.globe-container img{
	width: 16rem;
	height: 16rem;
}
.meet{
font-family: monospace;
font-size: 1.1rem;
opacity: 95%;
padding-bottom: 10%;
}
.meet span{
opacity: 60%;
}
.crew-aside p{
	font-size: 1.1rem;
	opacity: 65%;
}
.crew-aside h2{
font-weight: 400;
}
.crew-aside div{
font-size: 0.9rem;
opacity: 80%;
}
.crew-aside span{
	display: inline-block;
height: 0.6rem;
width: 0.6rem;
border-radius: 0.3rem;
background: white;
opacity: 45%;
margin-right: 1rem;
margin-top: 10%;
margin-bottom: 5%;
		}
.crew-aside .opace{
opacity: 100%;

}
.ansaru{
	height: 60vw;
	width: 60vw;
}
.align2 img{
height: 60vw;
	width: 60vw;	
}
.space-launch{
	font-family: monospace;
	font-size: 1.1rem;
}
.space-launch span{
	opacity:60% ;
}
.one{
height: 4rem;
width: 4rem;
border-radius: 2rem;
background: white;
color: black;
text-align: center;
line-height: 4rem;

}
.two, .three{
height: 4rem;
width: 4rem;
border-radius: 2rem;
border: 1px solid #666;
text-align: center;
line-height: 4rem;
}
.flexer2 p{
	font-family: monospace;
	font-size: 0.9rem;
	opacity: 70%;
}
.flexer1{
display: flex;
gap: 4vw;
}
.flexer2 div{
	opacity: 80%;
}
.align2 aside{
	margin-bottom: 3rem;
}





@media(min-width:901px){
header{
	display: flex;
	gap: 20vw;
}
.globe-container img{
	width: 350px;
	height: 350px;
}
header ul{
	display: flex;
	gap: 5vw;
}
.toggle{
	display: none;
}

header ul label{
opacity: 90%;
}
header ul label span{
opacity: 100%;
}
.bod1{
	background: url("../images/home/background-home-tablet.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;
}
.bod2{
	background: url("../images/destination/background-destination-tablet.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.bod3{
	background: url("../images/crew/background-crew-tablet.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.bod4{
	background: url("../images/technology/background-technology-tablet.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
}

@media(min-width:1100px){
header{
	gap: 25vw;
	align-items: center;
}
.align2 img{
height: 40vw;
	width: 40vw;	
}

header ul label span{
display: inline-block;
font-weight: 600;
}
.line{
height: 2px;
width: 10vw;
background: #aaa;
margin-left: -5%;
margin-right: 5%;
}
header ul{
	gap: 4vw;
}

.bod1{
	background: url("../images/home/background-home-desktop.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;
}
.bod2{
	background: url("../images/destination/background-destination-desktop.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.bod3{
	background: url("../images/crew/background-crew-desktop.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.bod4{
	background: url("../images/technology/background-technology-desktop.jpg");
	background-repeat:no-repeat ;
		background-position: center;
		background-size: cover;

}
.home{
	display: flex;
	gap: 10vw;
	align-items: center;
}

.destination{
	display: flex;
	gap: 5%;
	align-items: center;

}



}
